// COLOR VARIABLES

$color-primary: #65c22f;
$color-primary-dark: rgb(77, 160, 0);

$color-secondary: rgb(133, 156, 2);

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5;
}

@import url(https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;700&display=swap);

body {
    font-family: 'Recursive', 'sans-serif';

    box-sizing: border-box;

}